.search-page {
  background: #000;
  color: white;
  min-height: 100vh;
  padding: 100px 40px 40px;

  h2 {
    margin-bottom: 20px;
    font-size: 26px;
  }
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 100px;
}

.movie-card {
  background: #111;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }

  h3 {
    font-size: 14px;
    text-align: center;
    padding: 10px;
  }
}
