.faq-section {
  background: #000;
  padding: 50px 8%;
  color: white;

  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

.faq-item {
  margin-bottom: 10px;
  background: #2d2d2d;
}

.faq-question {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  cursor: pointer;
}

.faq-answer {
  padding: 20px;
  background: #1f1f1f;
  font-size: 16px;
  color: #ccc;
  line-height: 1.5;
}

.plus {
  font-size: 30px;
}
