.get-started-btn {
  margin-top: 15px;
  background: #e50914;
  color: #fff;
  border: none;
  padding: 12px 28px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
}

.get-started-btn:hover {
  background: #f40612;
}